<style>
    h1 {
        text-align: center;
    }

    p {
        text-align: center;
    }

    div {
        text-align: center;
    }

    .wrapper {
        text-align: center;
    }

    .button {
        border-radius: 8px;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }

    .button2 {
        background-color: #008CBA;
    }

    /* Blue */
</style>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1 class="cen">برای وارد شدن به ربات تلگرامی روی دکمه زیر بزنید</h1>
<div class="wrapper">
<a class="btn btn-primary float-right mr-4 button button2" href="https://telegram.me/share/url?url=t.me/NewNumBer_RoBot"> &rarr; کلیک کنید &larr;</a>
</div>