<style>
    h1 {
        text-align: center;
        color: #06ba0e;
    }

    p {
        text-align: center;
        color: #06ba0e;
    }

    div {
        text-align: center;
        color: #06ba0e;
    }

</style>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="sh-section-container container">
    <div class="fw-row">

        <div class="sh-column sh-column-da1d678b5487afb10387a40f652bbcad fw-col-xs-12">


            <div class="sh-column-wrapper">

                <div id="text-block-6516f0cd2dc0b1224d59b712e1435512" class="sh-text-block">
                    <p><!-- wp:paragraph --></p>
                    <h1>پرداخت موفق</h1>
                    <p><!-- /wp:heading --></p></div>

                <div id="alert-ed6833b979e01cb8fb7e21396aacc0a9" class="sh-alert sh-alert-success">
                    <div class="sh-alert-data sh-table">

                        <div class="sh-table-cell width-full">
                            <h3 class="sh-alert-title">
                                پرداخت با موفقیت انجام شد </h3>

                            <div class="sh-alert-text">
                                همیار گرامی

                                ضمن تشکر از شما نیک اندیش گرامی

                                پرداخت شما با موفقیت انجام شد
                            </div>
                        </div>

                    </div>
                    <div class="sh-alert-close">
                        <div class="sh-table-full">
                            <div class="sh-table-cell">
                                <i class="ti-close"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
